*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/sav-server/.bundle
/sav-server/vendor/bundle
/sav-server/log/*
/sav-server/tmp/*
/sav-server/db/*.sqlite3
/sav-server/public/system/*
/sav-server/coverage/
/sav-server/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.lock

#linux backup files
*~
*.swp

#video files
*.mp4
*.avi
*.m4v

#python binary
*.pyc
