<div class="page-header">
	<h1>Contato</h1>
</div>

<p>Deixe sua mensagem no campo abaixo, todos os campos são obrigatorios</p>





<p>Nossa equipe respondera ao seu contato o mais breve possível</p>



<FORM action="" method="get" class="form-horizontal">
    <fieldset>

    <LABEL for="name" class="control-label">Nome: </LABEL>
		<DIV class="controls">
    		<INPUT type="text" id="name">
		</DIV>
	<LABEL for="email" class="control-label">email: </LABEL>
		<DIV class="controls">
    		<INPUT type="text" id="email">
		</DIV>

	<LABEL for="text" class="control-label">Mensagem: </LABEL>
		<DIV class="controls">
    		<TEXTAREA name="thetext" rows="20" cols="80">
			</TEXTAREA>
		</DIV>
    
	<div class="form-actions">
    	<INPUT type="submit" value="Enviar" class="btn btn-primary"> <INPUT type="reset" class="btn">
  	</div>
    
    </fieldset>
 </FORM>
