<h1>Monitoramento da rede eletrica</h1>

<p>Seria feito um estudo da curva de carga do Campus da FGA para que se pudesse optar em quais momentos um sistema híbrido entraria em operação de forma autônoma e todas as suas considerações de operação. </p>

<p>A proposta da Engenharia de Energia se concentra na criação do sistema híbrido capaz de atender aos requisitos do escopo do projeto, além de servir de ponte de informação, dados e conceitos às demais engenharias. Os tópicos as seguir são relacionados às competências da Energia no contexto do projeto.</p>