<h1>Poste Vigilante Autônomo</h1>

<p>Tendo em vista os problemas enfrentados pela comunidade da Faculdade do Gama (FGA) no estacionamento mal iluminado e sem mecanismos de segurança na parte externa do prédio, foi observada a necessidade de auxiliar na possível resolução desses problemas. </p>

<p>O projeto do Poste Vigilante Autônomo visa controlar problemas que ocorrem no estacionamento a partir do monitoramento de imagens provindas das câmeras de segurança instaladas nos postes, controlando também o nível de iluminação e tudo isso com consumo responsável de energia. </p>