<h1>Sistema de Auxilio ao Vigilante</h1>

</br>

<div class="row-fluid">   

<div class="span6"> 

<div class="well">

<p>É um sistema de vigilância composto por câmeras, com a intenção de auxiliar os vigilantes na identificação de pessoas no estacionamento. Ao mesmo tempo em que o sistema irá transmitir imagens do estacionamento para uma central de monitoramento. </p>  

<p>O sistema é capaz de detectar pessoas nas imagens, essa detecção realiza uma realce, uma marcação, ao redor dos indivíduos que estiverem na área de filmagem da câmera em horários que são considerados de possível furto, horários onde o estacionamento não tem grande movimento, com isso temos uma facilitação da detecção dos vigilantes de possíveis ladrões.</p>
 </div>

</div>

<div class="span6"> 
<%=image_tag ("/images/sav.jpg") %> 
</div>

</div>

</br>

<p><a href="../cameras" class="btn btn-primary btn-large" style="color:#FFFFFF"> Ir para o sistema</a></p>