<h1>Sistemas Integrados FGA</h1>
<p>O presente sitema é a integração dos sistemas: Serviço de auxilio ao vigilante (SAV); Monitoramento da rede eletrica; Poste Vigilante Autônomo. Cada um dos projetos foi desenvolvido na disciplina de Projeto Integrador 2. Cada projeto tinha como intutuito melhorar algum aspecto do campus da FGA. Esse site busca integrar todos esses serviços em um um só lugar.</p>